@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer utilities{
  .App-footer {
      height: 14px;
    width: 14px;
   
    background-image: url("../public/icons/svgs/solid/heart.svg");
  }
  .vertical-line{
    border-left: 2px solid black;
    height: 700px;
  }
  .one-edge-shadow {
    box-shadow: 5px 0px 0px gray;
  }
  .button-green-border{
    border: 2px solid rgb(34 197 94);
  }
  .gray-border{
    border: 0.5px solid gray;
  }

  .background-whitish{
    background-color: #e3e9ff;
  }

  .light-orange{
    background-color: #ffc100;
  }

  .dark-orange{
    background-color: #f77000;
  }

  .blizzard-blue{
    background-color: #429ebd;
  }

  .background-bluish{
    background-color: #dae0e6;
  }
}